* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.login-button {
  font-size: 1.2rem;
  padding: 6px 14px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}


.login-button:hover {
  background-color: #0062cc;
}


.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
